
body{
  
    background-image: url(istockphoto1.jpg);
  background-size:cover ;
  z-index: -1;
  background-position:fixed;
    margin: 0px;
    padding: 0px;
   position :fixed;
   
  
 }

 header{
  vertical-align: top;
  position: fixed;
 }
#navbar{
  height: 90px;
  width: 100vw;

margin-top: 0px;
}

 #navbar>ul>li{
     display: inline;
    margin-top: 0px;
   margin-right: 35px;
     color: black;
     list-style-type: none;
     padding-bottom: 25px;
     /* background-color:rgb(87, 128, 205) ; */
     text-align: right;
   vertical-align: middle;
  
 }

 #search1{
     align-items: left;
     margin-top: 25px;
    border-radius: 14px;
   border: 2px solid rgb(9, 40, 99);  
 padding-left: 50px;
 padding-top: 5px;
 margin-left: 10px;
 margin-right: 30px;
 }
 #search1:focus{
     outline: none;
 }
 #navbar,a{
    text-decoration: none;
    color: black;
    
    font-size: 20px;
   margin-top: 30px;
   height: 100%;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
   
   
 }
 a:hover{
  color: rgb(173, 40, 14);
     
 }
   
    /* background-size: cover;   */
 
 
 


 .container {
  /* background-color: #fff; */
  /* border-radius: 5px; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 200px;
  margin-left: 250px;
  border-radius: 10px;
  box-shadow: 4px;
  border: 2px solid white;

}

.toggle-container {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 20px;
 margin-left: 200px;

}

.toggle-btn {
  cursor: pointer;
  padding: 10px ;
  border: none;
  background-color: transparent;
  font-size: 15px;
  color: #333;
  outline: none;
}

.toggle-btn:hover{
  color: rgb(173, 40, 14);
}

#register-form {
  display: none;
}
#login-form>input{
 
   border-radius: 7px;
   width: 60%;
   /* margin-bottom: 10px; */
   padding-top: 5px;
   
}
#register-form>input{
  border-radius: 7px;
  width: 60%;
  /* margin-bottom: 10px; */
  padding-top: 5px;

}
#login{
  width: 70px;
  border-radius: 5px;

}
#login:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(88, 20, 10);
}
#Register:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(88, 20, 10);
}
input:focus{
  outline: none;
}
#h1,#h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(96, 7, 7);
}
.dropdown{
  cursor: pointer;
    /* padding: 10px 20px; */
    border: none;
    background-color: transparent;
    font-size: 18px;
    color:rgb(10, 9, 9);
    outline: none;

}
.dropdown>option>a:hover  {
  display: rgb(96, 7, 7);
}
.dropdown-content{
  display: none;
    position: absolute;
    background-color: #f9f9f9;
     min-width: 100px; 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a:hover {
  background-color: #f1f1f1;
}
.dropdown-content {
  color: black;
   padding: 12px 16px; 
  text-decoration: none;
   display: block; 
}





